body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.3;
}

a {
  color: #5334F5;
  text-decoration: none;
  font-weight: 600;
}

.ProjectGroup {
  background: white;
  height: 800px;
  display: grid;
  grid-template-columns: 300px auto;
  grid-gap: 100px;
  margin: 30px;
  @media (max-width: 845px) {
      margin: 0;
      grid-gap: 0px;
      grid-template-columns: 1fr;
      height: 1400px;
  }
  @media (max-width: 545px) {
      margin: 0;
      grid-template-columns: 1fr;
      height: 1200px;
  }
}

.ProjectImage img {
  align-self: end;
  display: block;
  margin: 0 auto;
}

@media (max-width: 845px) {
     .ProjectImage { 
  height: 550px;
     }
}


.ProjectTextGroup {
  display: grid;
  grid-template-rows: 80px auto;
  margin: 0 40px;
  grid-gap: 10px;
}

.ProjectTextGroup button {
  width: 50px;
  height: 50px;
  border: none; 
  background: transparent;
  outline: none;
}

@media (max-width: 720px) {
  .ProjectTextGroup {
  grid-template-columns: 1fr;
  }
}

.ProjectTitle h3 {
  font-size: 80px;
  margin: -10% -5% auto; 
  line-height: 1.2;
}

@media (max-width: 845px) {
  .ProjectTitle h3 {
  font-size: 60px;
  margin: 30% 0 0 0; 
  text-align: center;
  }
}

.ProjectBody {
  font-size: 25px;
}

.myLink {
  font-size: 25px;
  float: right;
}

.myLinks {
  font-size: 25px;
  width: 100%;
  float: right;
  padding: 265px 0px 0px 340px;
}

.myLinkd {
  font-size: 25px;
  float: right;
  padding: 40px 70px 0px 0px;
}

@media (max-width: 920px) {
  .ProjectBody{
  font-size: 25px;
  }
}
@media (max-width: 550px) {
  .ProjectBody{
  font-size: 19px;
  }
}


.Hero {
  background: url('../images/wallpaper2.jpg');
  height: 920px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.HeroGroup {
  margin: 0 auto;
  max-width: 500px;
  padding: 50px 50px;
  text-align: center;

}

.Hero h1 {
  margin: 0;
  color: white;
  font-size: 100px;
  line-height: 1.2;
  /* white-space: nowrap; */
  display: inline-block;
  opacity: 0;
  animation: HeroAnimation;
  animation-duration: 3s;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.2, 0.8. 0.2, 1);
}

.Hero p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 30px;
  line-height: 1.5;
  font-style: italic;
  animation: HeroAnimation 3s 0.2s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
  opacity: 0;
}


.Hero a {
  font-size: 17px;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.7);padding: 9px 20px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1)
}

.Hero a:hover {
  background: white;
  color: black;
}

@media (max-width: 640px) {
  .HeroGroup {
      padding: 50px 20px;
  }

  .Hero h1 {
      font-size: 80px;
  }

  .Hero p {
      font-size: 24px;
  }

}

@keyframes HeroAnimation {
  0% {
      opacity: 0;
      transform: translateY(20px);
  }

  100% {
      opacity: 1;
      transform: translateY(0px);
  }

}


.Hero svg {
  position: absolute;
  bottom: 0;
  left: 0;
}

.Hero .Logos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
  margin: 100px 0;
  justify-items: center;
}

@media (max-width: 640px) {
  .Hero .Logos {
      grid-template-columns: repeat(2, 1fr)
  }
}

.Cards h2 {
  margin: 50px 20px;
  font-size: 60px;
  text-align: center;
  font-weight: 700;
  background: linear-gradient(104deg, #050A27 0, #4A548C 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.CardGroup {
  margin: 50px 40px 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  justify-items: center; 
}

@media (max-width: 1060px) {
  .CardGroup {
    grid-template-columns: repeat(2, 1fr);

  }
}

@media (max-width: 720px) {
  .CardGroup {
    grid-template-columns: repeat(1, 1fr);
    
  }
}